.floorplan {
	height: 900px;

	.icon {
		--explode-from: #{$color-dark};

		background: $color-dark;
		border-radius: 50%;
		padding: size('xs');
		font-size: size('m');
		color: #fff;
		animation: explode 3s ease-in-out infinite;
	}

	.popup {
		background: $color-dark;
		color: $color-light;
		padding: size('m');
		z-index: 1;
		margin-bottom: 35px;
		min-width: 350px;
		box-sizing: border-box;
		position: relative;

		h6 { white-space: nowrap; }

		&::after {
			display: block;
			content: '';
			border: 8px solid transparent;
			border-top-color: $color-dark;
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -8px;
		}
	}
}
