@mixin box-paint($color) {
	background: $color;
	color: color-contrast($color);
}

.box {
	background: $color-light;
	height: 100%;
	padding: size($box-padding);
	box-sizing: border-box;

	&--midtone1 { @include box-paint(color-shade($color-light, dark)); }
	&--midtone2 { @include box-paint(color-shade($color-light, darker)); }
	&--midtone3 { @include box-paint(color-shade($color-light, darkest)); }
	&--midtone4 { @include box-paint(color-shade($color-dark, lightest)); }
	&--midtone5 { @include box-paint(color-shade($color-dark, lighter)); }
	&--midtone6 { @include box-paint(color-shade($color-dark, light)); }
	&--dark { @include box-paint($color-dark); }
	&--primary { @include box-paint($color-primary); }
	&--alert { @include box-paint($color-alert); }
}
