.scroller {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	scroll-snap-type: x mandatory;
	padding: size('l') 0;
	scrollbar-width: none;

	&::-webkit-scrollbar { display: none; }

	& > * {
		white-space: normal;
		vertical-align: middle;
		scroll-snap-align: center;
	}

	&__empty {
		display: flex;
		align-items: center;
		justify-content: center;
		color: color-shade($color-light, darkest);
		background: color-shade($color-light, dark);
		min-height: 100px;
	}
}
