.scroller {
	overflow-x: auto;
	white-space: nowrap;
	scroll-snap-type: x mandatory;

	// Hide scrollbar
	scrollbar-width: none;
	&::-webkit-scrollbar { display: none; }

	& > * {
		display: inline-block;
		white-space: normal;
		vertical-align: middle;
		scroll-snap-align: center;
	}

	&:empty {
		display: flex;
		color: color-shade($color-light, darker);
		min-height: 100px;

		&::before {
			content: attr(data-empty);
			display: block;
			width: auto;
			margin: auto;
		}
	}
}
