// Leaflet-compare Control
.leaflet-compare-thumb {
	background-color: #2d2c2f !important;

	.leaflet-compare-div-end & {
		font-size: 40px;
		animation: explode 3s ease-out infinite;
	}
}

/* Explore trails on leaflet */
.leaflet-path {
	stroke: $color-primary;
	stroke-width: 4;
	stroke-linecap: round; // butt, square, round
	stroke-linejoin: round; // miter, round, bevel
}

@keyframes dash { to { stroke-dashoffset: 0; } }
